PATRICK_IM_BIND=0.0.0.0:5800
PATRICK_IM_LOG=info,tower_http=info,axum=info
PATRICK_IM_PUBLIC_BASE_URL=http://127.0.0.1:5800
PATRICK_IM_SECURE_COOKIES=false
PATRICK_IM_STUN_URLS=stun:stun.cloudflare.com:3478,stun:stun.l.google.com:19302
PATRICK_IM_TURN_URLS=
PATRICK_IM_TURN_USERNAME=
PATRICK_IM_TURN_CREDENTIAL=
PATRICK_IM_MYSQL_URL=mysql://root:123456@127.0.0.1:3306/patrick_im
PATRICK_IM_FILE_STORE_PATH=./data/files
PATRICK_IM_SESSION_SECRET=patrick-im-local-dev-secret-change-me
PATRICK_IM_RECENT_MESSAGE_LIMIT=60
